<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Zola</title>
  <link rel="shortcut icon" href="{Favicon}">
  <link rel="alternate" type="application/rss+xml" href="{RSS}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{MetaDescription}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ config.base_url }}/base.css">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee:400,400i|Montserrat:500" rel="stylesheet">
  <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css" rel="stylesheet">
  <script src="{{ config.base_url }}/js/qtips.js"></script>
  <link rel="stylesheet"  href="{{ config.base_url }}/style.css">


</head>

<body>

  <header>
    <h1><a href="/">
    Zola Blog <!-- title -->
    </a></h1>
    <h2>
    Learn to code. <!-- subtitle -->
    </h2>

    <nav>
      <a href="{{ config.base_url }}" title="Home"><i class="fa fa-home"></i></a>
      <a href="{{ config.base_url }}/blog/" title="blog"><i class="fa fa-code"></i></a>
      <a href="{{ config.base_url }}/portfolio" title="portfolio"><i class="fa fa-calendar"></i></a>
      <a href="{{ config.base_url }}/page/contact" title="contact"><i class="fa fa-envelope"></i></a>
    </nav>

  </header>

  <main>
    {% block content %} {% endblock %}
  </main>

</body>

</html>
