
/****************************************************


               「  CODES BY POHRORO  」
                    @ pohroro.com
	          Modified CSS Base
             v1.4.2 | Updated: 08/10/18
      Source: github.com/necolas/normalize.css
      Do not use this file outside of my themes.
 

****************************************************/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-smoothing: antialiased;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

article, 
figure, 
footer, 
main, 
menu, 
nav, 
section {
    display: block;
}

audio, 
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

video {
    width: 100%;
    height: auto!important;
}

[hidden], 
template {
    display: none;
}

button, 
input, 
optgroup, 
select, 
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    background: transparent;
}

button, 
optgroup {
    cursor: pointer;
}

button, 
input {
    overflow: visible;
}

button, 
select {
    text-transform: none;
}

button, 
html [type="button"], 
[type="reset"], 
[type="submit"] {
    -webkit-appearance: none;
}

button, 
textarea,
html [type="button"], 
[type="reset"], 
[type="submit"],
[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

textarea {
    overflow: auto;
}

[type="checkbox"], 
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, 
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
}

:-moz-placeholder {
    color: inherit; 
    opacity: 1;
}

::-moz-placeholder {
    color: inherit; 
    opacity: 1;
}

:-ms-input-placeholder {
    color: inherit;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

body.repeat {
    background-repeat: repeat;
}

body.cover {
    background-size: cover;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:active, 
a:hover {
    outline: 0;
}

b, 
strong {
    font-weight: 700;
}

h1 {
    margin: 0;
}

small, 
sub, 
sup {
    font-size: 100%;
}

img {
    border: 0;
}

hr {
    border: 0;
    border-top: 1px solid {color:Border};
    box-sizing: content-box;
    height: 0;
}

pre {
    white-space: normal;
}

code {
    font-family: inherit;
}

svg {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, 
th {
    padding: 0;
}
 
.post img {
    max-width: 100%;
    height: auto;
}

.caption-avatar, 
.caption-user {
    display: inline-block;
}

.caption-content:last-child {
    border: 0;
    padding: 0;
}

.caption p {    
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

figure[data-tumblr-attribution] {
    line-height: 0;
}

p.tmblr-attribution {
    margin-top: 0;
    padding: 0;
    background: rgba(0,0,0,0.5);
    text-align: right;
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: 1.5px;
    padding-right: 5px;
    margin-top: -20px;
    line-height: 20px;
    opacity: 0.7;
    font-weight: bold;
    height: 20px;
}

p.tmblr-attribution a {
    color: #fff!important;
}

.tmblr-full img {
    width: 100%!important;
    height: auto;
}

.tmblr-truncated-link {
    display: none;
}

.photo, 
.video {
    line-height: 0;
}

.soundcloud_audio_player {
    max-height: 116px!important;
}

.spotify_audio_player {
    max-height: 80px!important;
}

.read-more {
    text-align:center;
}

#padding {
    font: 7px/4px Arial;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    width: 55px;
    height: 18px;
    right: 8px;
    bottom: 10px;
    display: block;
    padding: 10px 3px;
    border-radius: 3px;
    position: fixed;
    z-index: 999999999999999 !important;
}

#padding a {
    font: italic bold 15px/17px Times New Roman;
    text-transform: lowercase;
    letter-spacing: -1px;
}